<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024626146715-479k9uorimqrrpov4fq809cu95eciu0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024626146715-479k9uorimqrrpov4fq809cu95eciu0i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1024626146715-rut652agvqimatp1vjlfjastec6838gk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIsEq421v_v4SLmLtdSaZVI5KrRfq7JC0</string>
	<key>GCM_SENDER_ID</key>
	<string>1024626146715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appwave.expatlio</string>
	<key>PROJECT_ID</key>
	<string>smalltalk-2109b</string>
	<key>STORAGE_BUCKET</key>
	<string>smalltalk-2109b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024626146715:ios:7438f350d2c09ff86bf53e</string>
</dict>
</plist>
